body{
  background-color:#EBECE4;
  font-family: "Helvetica Neue"

}

header{
  background-color:#EBECE4;
  text-align: center;
}
.navbar-header {
  background-color: #484545;
}
.navbar {
  background-color: #4aad1f;
}
.navbar-brand {
  background-color: #484545;
}
.dropdown-menu{
  background-color:#4aad1f;
}
.navbar-default .navbar-nav li a {
  color: white;
  font-size: 15px;


}
.navbar-default .navbar-nav li a:hover {
  color: grey;

}
.navbar{
  background-color:#4aad1f;
}

/* couleur verte sur la ligne */
#bs-example-navbar-collapse-1{
  background-color: #4aad1f;
}
.container-fluid{
  background-color: #4aad1f;
}
/*END NAV BAR*/
/*CAROUSEL*/
.description-text{
  font-family: "Helvetica Neue"

}
.description-text p{
  font-family: "Helvetica Neue"

}

/*CAROUSEL*/


/*VIDEO*/
.video{
  background-color: white;
  font-family: "Helvetica Neue"

}
.video h1{
  background-color: white;
  font-family: "Helvetica Neue"

}
.video p{
  background-color: white;
  font-family: "Helvetica Neue"

}
/*VIDEO*/
/*Article*/
article h1{
  color:#4aad1f;
  font-family: "Helvetica Neue"

}
article p{
  text-align: justify;;
  padding: 10px;
  font-family: "Helvetica Neue";
  font-size: 20px;
}
/*END Articles*/
/*Footer */
container {
  display: flex; /* or inline-flex */
  justify-content: center;
  flex-wrap:nowrap;
  background-color: #484545;
}
.form{

  border-radius: 0px 5px 5px 0px;
  font-family: "Helvetica Neue"
  width: 33%;
  text-align: center;  color: #4aad1f;


}
.form input{
  width:80%;
  border-radius: 4px;
  padding: 10px 16px;
  margin: 4px 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue"
}

.googlemap{
  background-color:#EBECE4;
  width: 33%;
  margin-left: 5px;
  margin-right: 5px;
  padding: 1px;
  background-color: #484545;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  border-radius: 5px;

}
.adresse{
  text-align: center;
  border-radius: 5px 0px 0px 5px;
  width: 33%;


}

.adresse h3{
  text-align: center;
  color: #4aad1f;
  font-family: "Helvetica Neue"
}
.adresse p{
  text-align: center;
  font-size: 13px;
  color: white;
  font-family: "Helvetica Neue"
}

legend{
  text-align: center;
  color: #4aad1f;
  font-size: 30px;
}
/*Responsive design 662 */
@media screen and (max-width: 662px) {
  body{
    background-color: #484545;
  }
  .adresse {
    width: 100%;
  }
  .googlemap {
    width: 80%;
  }
  .form{
    width: 100%;
  }
  container {
    display: flex; /* or inline-flex */
    justify-content: center;
    flex-wrap:wrap;
  }
  .adresse-sub{
    display: inline-block;
    text-align: center;
  }

}
/*Footer */
/*Final*/
.final{
  background-color: #484545;
  height: 30px;
}
/*Final*/
